:root {
  --color-background: #ededed;
  --color-primary: #ffa41b;
  --color-secondary: #ff5151;
  --color-tertiary: #9818d6;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif !important;
}

.content {
  display: grid;
  grid-template:
    "header header" 50px 
    "sidebar main" calc(100vh - 50px)
    / 250px auto;
}

button {
  padding: 6px 8px;
  border: none;
  border-radius: 7px;
  font-size: 18px;
}

/*////////
/ Header /
////////*/

.header {
  grid-area: header;

  background-color: var(--color-secondary);
  font-size: 30px;
  color: var(--color-background);
  padding-left: 30px;
  padding-top: 4px;
}

.header button {
  color: var(--color-background);
  background-color: rgba(234, 234, 234, .2);
  margin: 3px 40px 3px 0px;
  float: right;
}

.header button:nth-of-type(2) {
  margin-right: 20px;
}

.header button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .15);
}

/*/////////
/ Sidebar /
/////////*/

.sidebar-container {
  grid-area: sidebar;

  background-color: #fafafa;
  font-size: 14px;
  font-weight: 400;
  overflow-y: scroll;
}

.sidebar-container > div {
  display: grid;
  padding: 12px 10px 8px 20px;
  border-radius: 5px;
}

.sidebar-container ul {
  display: grid;
  gap: 2px;
}

li {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  justify-items: start;
  gap: 7px;
  grid-template-columns: 24px auto 1fr;
  align-items: center;
  list-style: none;
  height: min-content;
  border-radius: 8px;
  padding: 4px 10px;
}

li.extra-chevron {
  padding: 4px 0px;
  position: relative;
  width: 183px;
  left: -15px;
}

li.extra-chevron img:last-child,
li.extra-chevron div:last-child {
  padding-right: 5px;
}

li img,
li div {
  justify-self: center;
}

.sidebar-container span {
  width: max-content;
  justify-self: end;
  color: #555;
}

li:hover {
  cursor: pointer;
  transform: translateX(2px);
  border-left: 3px solid var(--color-secondary);
  border-radius: 8px;
}

.selected-li {
  background-color: #eaeaea;
}

.list-header {
  font-weight: 600;
}

.proj-header {
  width: 148px;
}

li[data-is-proj-child='1'] {
  margin-left: 24px;
}

/*//////
/ Main /
//////*/

.main-container {
  display: grid;
  align-items: center;
  align-content: start;
  grid-template-rows: 80px;
  margin: 10px 15px 30px 60px;
  padding-right: 15px;
  overflow-y: scroll;
}

.main-header-container {
  display: grid;
  align-items: start;
  grid-template-columns: 100px auto;
}

.main-header-container > div {
  justify-self: end;
  
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  justify-items: start;
  gap: 7px;
  grid-template-columns: 24px auto 1fr;
  align-items: center;
  list-style: none;
  height: min-content;
  padding: 4px 10px;
  border-radius: 5px;
  cursor: default;

  font-size: 16px;
  color: rgb(96, 96, 96);
}

.main-header-container div img {
  padding-right: 5px;
}

/* Dropdown filter */

.dropdown {
  position: absolute;
  top: 85px;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 32px;
  right: 5px;
  background-color: #f1f1f1;
  min-width: 80px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content div {
  padding: 12px 16px;
  display: block;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Main page styling */

.main-container > div:not(.main-header-container) {
  display: grid;
  align-items: center;
  justify-content: start;
  gap: 4px;
  max-width: 800px;
  font-size: 14px;
  grid-template: 24px 24px / 24px calc(100% - 84px) 60px;
  padding-top: 5px;
  border-left: 3px solid white;
}

.main-container > div:not(.main-header-container):not(:last-child) {
  border-bottom: 1px solid gray;
}

.main-container > div:not(.main-header-container) > div:nth-child(2) {
  grid-column: 2 / 4;
  width: fit-content;
  cursor: pointer;
}

.task-due-date {
  grid-area: 2 / 2 / 3 / 3;
}

/* Checkbox styling */

input[type='checkbox'] {
  width: 18px;
  height: 18px;
  justify-self: center;
  border: .13rem solid gray;
  border-radius: 10px;

  display: grid;
  place-content: center;
}

input[type='checkbox'].high-priority {
  border: .13rem solid #c00;
  background-color: rgba(204, 0, 0, .1);
}

input[type='checkbox'].recurring {
  border: .13rem solid orange;
}

input[type='checkbox']:hover {
  cursor: pointer;
}

/*////////////////
// Form styling //
////////////////*/

/* form */

form {
  border-radius: 10px;
  display: grid;
  align-items: center;
  gap: 7px;
}

/* Task Details modal */

.task-details-container {
  display: grid;
}

.task-details-container button {
  align-self: center;
}

.task-details-container > div:first-child {
  height: 19.5px;
}

/* text input */

input[type='text'] {
  border: none;
  font-size: 18px;
  padding: 2px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  margin-left: 5px;
}

/* text and textarea :focus; textarea */

input[type='text']:focus {
  outline: none;
}

textarea,
textarea:focus {
  outline: none;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  border-radius: 7px;
  border: 1px solid black;
  box-shadow: none;
  padding: 5px;
}

/* Form priority selection */

.form-priority-radios {
  display: grid;
  gap: 5px;
  width: 50%;
  padding-top: 5px;
  grid-template: 20px / 20px 1fr;
}

.form-priority-radios p {
  grid-area: 1 / 1 / 2 / 3;
}

.form-priority-radios input:hover,
.form-priority-radios label:hover {
  cursor: pointer;
}

/* Form submit button */

.modal-content button {
  width: 200px;
  justify-self: center;
  margin-top: 10px;
}

.modal-content button:hover {
  cursor: pointer;
}

/* Form color selection */

.color-container {
  display: grid;
  padding-top: 10px;
  grid-auto-flow: column;
  align-items: center;
  cursor: pointer;
}

form [type='color'] {
  width: 150%;
  height: 150%;
  margin: -25%;
}

.color-selector-container {
  overflow: hidden;
  display: inline-block;
  width: 30px;
  height: 30px;
  /* optional formatting below here */
  border-radius: 50%;
  box-shadow: 1px 1px 3px 0px gray;
}

label[for='color']:hover,
form [type='color']:hover {
  cursor: pointer;
}

 /* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  animation: fadeIn 0.4s;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  box-shadow: 5px 5px 5px gray ;
  overflow: hidden;
  margin: 15% auto 0; /* 15% from the top and centered */
  padding: 30px;
  width: 400px; /* Could be more or less, depending on screen size */
  border-radius: 15px;
  animation: fadeIn 0.4s;
}

/* The Close Button */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: relative;
  float: right;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}